<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <div class="layui-collapse site-demo-button" th:fragment="myLeft">
        <div class="layui-colla-item">
            <h2 class="layui-colla-title">培训在线</h2>
            <div class="layui-colla-content ">每日签到</div>
            <div class="layui-colla-content "><a href="/course/list">课程内容</a></div>
            <div class="layui-colla-content ">电子作业</div>
        </div>
        <div class="layui-colla-item">
            <h2 class="layui-colla-title">学习交流</h2>
            <div class="layui-colla-content "><a href="/note/list">心得笔记</a></div>
        </div>
        <div class="layui-colla-item">
            <h2 class="layui-colla-title">游戏休闲</h2>
            <div class="layui-colla-content">****</div>
            <div class="layui-layedit-iframe"></div>
        </div>
    </div>
</html>

