<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>教学系统后台</title>
    <script type="text/javascript" th:src="@{/static/js/jquery-3.3.1.js}" src="../../static/js/jquery-3.3.1.js"></script>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}" href="../../static/layui/css/layui.css">
    <script type="text/javascript" th:src="@{/layui/layui.js}" src="../../static/layui/layui.js"></script>
</head>
<style>
    .header{
        height: 65px;
        width: 100%;
        float: left;
    }
    .box{
        margin:0 auto;
        width: 1500px;
    }
    .left{
        width: 200px;
        height: 80%;
        float: left;
    }
    .right{
        width: 1298px;
        height: 700px;
        float: left;
    }
</style>
<body>
<div class="box">
    <div class="header" th:replace="/common/admin :: myadmin" >
    </div>
    <div class="left">
        <div th:replace="/common/ALeft :: myALeft" ></div>
    </div>
    <div class="right">
        <h2>欢迎登录后台</h2>
    </div>
</div>

<script>
    //注意：折叠面板 依赖 element 模块，否则无法进行功能性操作
    layui.use('element', function(){
        var element = layui.element;
    });
    layui.use('form', function(){
        var form = layui.form;
    });

    layui.use('form', function(){
        var form = layui.form;
    });

    layui.use('laydate', function(){
        var laydate = layui.laydate;
        //执行一个laydate实例
        laydate.render({

            elem: '#date'//指定元素
            ,theme: 'molv'
        });
    });
</script>
</body>
</html>