<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.oaec.teachingsystem.mapper.CommentMapper">
    <resultMap id="CommentResultMap" type="com.oaec.teachingsystem.domain.Comment">
        <result column="id" jdbcType="INTEGER" property="id" />
        <result column="notesonexperience_id" jdbcType="INTEGER" property="no_id"/>
        <result column="user_id" jdbcType="INTEGER" property="user_id"/>
        <result column="createtime" jdbcType="DATE" property="createtime"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="content" jdbcType="VARCHAR" property="content"/>
    </resultMap>

    <select id="findAllbyNote_id" parameterType="long" resultMap="CommentResultMap">
      select * from t_comment where no_id = #{note_id}
    </select>
    
    <insert id="createComment" parameterType="Comment">
        insert into t_comment(no_id,user_id,content,createtime)
         values (#{notesonexperience_id},#{user_id},#{content},#{createtime})
    </insert>

    <delete id="deleteCommentByid" parameterType="long">
        delete from t_comment where id = #{id}
    </delete>

    <update id="updataCommentbyid" parameterType="Comment">
        update t_comment set content = #{content} where id = #{id}
    </update>





</mapper>